<h2>Dashboard</h2>

<% unless current_user.runkeeper_id.present? %>
  <div class="flash notice">You should <%= link_to('enter your Runkeeper user name or ID', account_path) %>.</div>
<% end %>

<table>
  <thead>
    <tr>
      <th>When</th>
      <th>RunKeeper ID</th>
      <th>dailymile ID</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
      <tr class="<%= "#{activity.success?} #{cycle('odd', 'even')}" %>">
        <td><%= activity.created_at %></td>
        <td><%= link_to(activity.content[:id], "http://runkeeper.com/user/#{current_user.runkeeper_id}/activity/#{activity.content[:id]}") %></td>
        <td><%= link_to(activity.response["id"], activity.response["url"]) %></td>
        <td><%= activity.success? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
