<!DOCTYPE html>
<html>
<head>
  <title>RunKeeper Sync</title>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic', :media => 'screen, projection' %>
  <%= stylesheet_link_tag '/javascripts/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection' %>
  <!-- [if IE] -->
    <%= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection' %>
  <!-- end -->
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <h1><%= image_tag('sync-logo.png') %>RunKeeper Sync</h1>
      <% unless current_page?(signup_path) %>
        <ul id="session">
          <% if current_user %>
            <li>
              <% if current_user.image_url.present? %>
                <%= image_tag(current_user.image_url) %>
              <% end %>
              Welcome, <%= current_user.name %>
            </li>
            <li><%= link_to "My Profile", account_path %></li>
            <li><%= link_to "Sign Out", signout_path %></li>
          <% else %>
            <li><%= link_to "Sign in with Dailymile", "/auth/dailymile" %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <% if current_user && current_user.suspended? %>
        <%= notice("Your account is set to suspended. No syncing will occur. #{link_to('Update your preferences', account_path)} to enable syncing.".html_safe) %>
    <% end %>
    <%= render :partial => 'layouts/flashes' %>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <ul>
        <li><%= link_to('About', '#about', :id => 'aboutLink') %></li>
        <li><%= link_to('Contact Me', 'mailto:chris@26webs.com', :id => 'contactLink') %></li>
      </ul>
      <p>RunKeeper Sync by <%= mail_to('chris@26webs.com', 'Chris Moore') %>.</p>
    </div>
    <div id="about" style="display: none;">
      <h2>What is this?</h2>
      <p>Nothing fancy. I'm a RunKeeper user but some of my friends are on dailymile, too. I wanted 
        to be able to use RunKeeper and have my runs automatically pushed to dailymile. I couldn't 
        find anything that did it the way I wanted so I wrote this little app one evening.</p>
      <p>I hope you find it useful!</p>
      <p>Chris</p>
    </div>
  </div>
  <%= render :partial => 'layouts/javascripts' %>
</body>
</html>
